doctype html
head
	tittle
body(background-color: cyan)
	#Nombre
		p Lista de Reproduccion
		table(border= 2 px)
			tr
				td(width= 100 px) numero
				td(width= 400 px) nombre
			tr
				td(width= 100 px) 1
				td(width= 400 px) nombre
			tr
				td(width= 100 px) 2
				td(width= 400 px) nombre
			tr
				td(width= 100 px) 2
				td(width= 400 px) nombre


